*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right,rgb(3, 18, 59),rgb(2, 5, 130));
}
header .nav-box{
    height: 10vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vmin;
    background-color: rgb(8, 8, 91);
}
header .nav-box .nav{
   height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    gap: 3vmin;
}
header .nav-box #portfolio{
    background-color: rgb(43, 43, 168);
    padding: 5px;
    border-radius: 5px;
    font-size: 5vmin;
    text-shadow: 1px 1px rgb(0, 174, 255);
    color: aliceblue;
    box-shadow: 1px 1px 6px rgb(2, 14, 45),
    -1px -1px 6px rgb(5, 39, 152);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header .nav-box .nav p{
    padding: 1vmin;
    font-size: 3vmin;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    background-color: rgb(7, 7, 181);
    box-shadow: 1px 1px 3px black,
    -1px -1px 3px rgb(255, 250, 250);
}
.heading-content{
    color: aliceblue;
    background-color: rgb(24, 24, 186);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 1px rgb(16, 0, 0);
    margin-top: 4vmin;
    margin-left: 4vmin;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
    margin-bottom: 5vmin;
}
.about-content2{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
padding-left: 3vmin;
}
.about-content2 .about{
    width: 70%;
    height: 100%;
   }
.about-content2 .profile-photo{
    height: 30vmin;
    width: 30vmin;
    border: 4px solid whitesmoke;
    border-radius: 50%;
    margin-left: 3vmin;
    margin-right: 3vmin;
    box-shadow: 5px 5px 10px rgb(11, 9, 9);
    background-image: url('https://media.licdn.com/dms/image/v2/D5603AQFjAhzcFI1heA/profile-displayphoto-shrink_100_100/B56ZPqTH0eHoAU-/0/1734802703021?e=1749686400&v=beta&t=aYx706ms4SCaGYev4qOR5oAiRSL6IcR2JFT242OrnpA');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    padding: 10px;
}
.about h3{
color: rgb(255, 255, 255);
font-size: 3vmin;
}
.about h4{
  font-size: 8vmin;
    margin-left: 5vmin;
    color: aqua;
    text-shadow: 1px 1px  red;
    }
p{
    color: whitesmoke;
    font-size: 3vmin;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about .social{
    height: 10vmin;
    width: 30vmin;
    margin-top: 5vmin;
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3vmin;
}
.social-icon{
    height: 6vmin;
    width: 6vmin;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 2px black;
}
.social-icon:hover{
    box-shadow: 0px 0px 5px rgb(33, 201, 253);

}
.about-content .heading{
    color: aqua;
    text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 7vmin;
}
.Skills{

    margin: 10vmin;
margin-top: 2vmin;
    display: flex;

}
.skils-chart{
    height: 100%;
    width: 100%;


}
.skils-chart h1{
    color: aliceblue;
    text-shadow: 1px 1px 1px red;
    font-size: 5vmin;
background-color: rgb(54, 9, 255);
   padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px red;
    box-shadow: inset 2px 2px 2px red, inset 4px 4px 12px rgb(0, 0, 0)

}
.graph{
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
    display: flex;
    margin: 10px;
    text-shadow: 1px 1px 1px red;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 5vmin;
    box-shadow: inset 2px 2px 2px red, inset 4px 4px 12px rgb(0, 0, 0);
    background-color: rgb(9, 160, 160);
    border: 15px solid whitesmoke;
    border-bottom: 0px;
    border-left: 0px;
}
.chart-box{
    display: flex;
    justify-content: space-between;
    padding-left: 5vmin;
    padding-right: 5vmin;
    align-items: center;
    gap: 2vmin;
}
